{% if project.category == 'sermon' %}
  <div class="load-more">
    <a
      name="load-more"
      id="load-more"
      class="btn btn-outline-primary"
      href="https://www.youtube.com/playlist?list=PLxsE0ePE6qp86PTYXOqk24G2R-iHvglul"
      role="button">지난 설교 보기</a>
  </div>
{% elsif project.category == 'praise' %}
  <div class="load-more">
    <a
      name="load-more"
      id="load-more"
      class="btn btn-outline-primary"
      href="https://www.youtube.com/playlist?list=PLxsE0ePE6qp9M1QcbvZLkl4gE_ABZcnD5"
      role="button">지난 찬양 보기</a>
  </div>
{% elsif project.category == 'blog' %}
  {% for project in site.portfolio reversed %}
    {% if project.category == 'blog' %}
      {{ project.subtitle }}<br>
    {% endif %}
  {% endfor %}
{% endif %}